<a href="https://colab.research.google.com/github/tamyrespereirasilva/exercicios-python/blob/main/Exerc%C3%ADcios_1_PSM2203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---
# Para praticar em sala de aula.


---

## Listas, Dicionários e Tuplas

Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [1]:
minhaLista = []

for x in range(11):
  minhaLista.append(x)
print(minhaLista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]



---

Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [2]:
outraLista = ["Cadeira", "Mesa", "Escada", "Pote", "Faqueiro"]
print(outraLista)

['Cadeira', 'Mesa', 'Escada', 'Pote', 'Faqueiro']



---

Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [3]:
string1 = "Leite"
string2 = "Condensado"
string3 = string1 + string2

print(string3)

LeiteCondensado

Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
umaTupla = (1, 2, 2, 3, 4, 4, 4, 5)
umaTupla.count(4)

3



---

Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [ ]:
meuDic = {"Idade": 28, "Mês": 7, "Aniversário":11}
print(meuDic)

{'Idade': 28, 'Mês': 7, 'Aniversário': 11}



---

Exercício 6 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [ ]:
meuDic["Signo"] = 69
print(meuDic)

{'Idade': 28, 'Mês': 7, 'Aniversário': 11, 'Signo': 69}



---

Exercício 7 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [ ]:
outroDic = {"Idade": 28, "Ano": 1994, "data":[11, 7]}
print(outroDic)

{'Idade': 28, 'Ano': 1994, 'data': [11, 7]}



---

Exercício 8 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.

In [ ]:
tLista = ["Data", (11, 7), {"Idade": 28, "Ano": 1994,}, 1.58]
print(tLista)

['Data', (11, 7), {'Idade': 28, 'Ano': 1994}, 1.58]



---

Exercício 9 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [ ]:
frase = "Cientista de Dados é o profissional mais sexy do século XXI"
print(frase[1:19])

ientista de Dados



---

Exercício 10 - Crie uma lista de 3 elementos e calcule a terceira potência de cada elemento.

In [ ]:
mLista = [2, 4, 6]

for x in mLista:
  print(x**3)

8
64
216

Exercício11 - Faça um programa que leia dois vetores com 10 elementos cada, gere um terceiro vetor de 20 elementos, cujos valores deverão ser compostos pelos elementos intercalados dos dois outros vetores.

In [ ]:
lista1 = list(range(10))
lista2 = list(range(10))
lista3 = []
    
for elemento in range(0, 10):
    lista3.append(lista1[elemento])
    lista3.append(lista2[elemento])

print(lista3)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]